#wave {
  width: 100%;
  height: 17%;
  position: relative;
  font-family: Lato;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 4rem;
  color: white;
  background-image: url('forestimg.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 60%;
  padding-bottom: 0px;
}

.modheader {
   position: relative;
   bottom: 0px;
   z-index: 1000;
   background-color: rgba(70, 78, 41, 0.4);
   padding: 4vw;
   font-weight: bold;
}

#modheader-content {
  position: absolute;
  bottom: 0px;
  margin-left: 0px;
  font-size: 4rem;
  text-align: center;
  word-wrap: break-word;
  word-break: break-all;
  background-color: rgba(70, 78, 41, 0);
  background: -webkit-linear-gradient(left,
               #7B300A, #153960, #99D55C);
               -webkit-background-clip: text;
               -webkit-text-fill-color: transparent;
}

.header {
  box-shadow: none;
}

.ui.attached.menu {
    align-content: center;
}

.ui.tabular.menu .item {
    background: rgba(1,1,1,0.6);
    color: white;
}

.ui.tabular.menu .item:hover {
    background: rgba(1,1,1,1);
    color: white;
}

.ui.tab.bottom.attached.segment.active {
    background: linear-gradient(to left,#8EE5EE, #53868B, #458B74);
}



.h4 {
  font-size: 2rem;
  font-family: Lato;
}

.description {
  text-align: left;
}

.pusher {
  width: 100%;
}

.wrapper {
  width: 100%;
  margin-left: 0.1em;
  margin-right: 0.1em;
  position: relative;
}

#mainmap {
  position: relative;
  left: 0;
  right: 0;
  top: 0em;
}

.ui.grid {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0px;
  margin-right: 0px;
}

.ui.fluid.vertical.steps {
  background-color: #30610F;
}

.ui.steps .step {
  background-color: #C9D6A5;
}

.ui.right.sidebar {
  z-index: 9999;
}

.ui.ui.ui.container:not(.fluid) {
  width: 100%;
  margin-left: 0em;
  margin-right: 1em;
}

.shiny-notification.shiny-notification-warning {
             position:fixed;
             top: calc(50%);
             left: calc(50%);
             }

#shiny-notification-panel {
             position:fixed;
             top: calc(50%);
             left: calc(10%);
             }

#gaugeset { 
  margin: auto;
}

.slick-track
{
    position: relative;
    height: 500px;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


